<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RentMapper">
<!--    List<Rent> getAllRent();-->
        <select id="getAllRent" resultType="com.example.entity.Rent">
            select * from rent
        </select>
<!--    void addRent(Rent rent);-->
        <insert id="addRent">
            insert into rent values (#{Object}, #{oid}, #{uid})
        </insert>
<!--    void deleteRent(int uid);-->
    <delete id="deleteRent">
        delete from rent where uid = #{uid}
    </delete>
</mapper>